{
    "default_hs_url": "https://{{ matrix_server_fqn_matrix }}",
    "default_is_url": "{{ 'https://' + matrix_identity_servers[0] if matrix_identity_servers|length > 0 else None }}",
    "disable_custom_urls": {{ riot_disable_custom_urls | to_json }},
    "disable_guests": {{ riot_disable_guests | to_json }},
    "disable_login_language_selector": false,
    "disable_3pid_login": false,
    "brand": "Riot",
    "integrations_ui_url": "{{ riot_integrations_ui_url }}",
    "integrations_rest_url": "{{ riot_integrations_widgets_urls }}",
    "integrations_widgets_urls": "{{ riot_integrations_widgets_urls }}",
    "integrations_jitsi_widget_url": "{{ riot_integrations_jitsi_widget_url }}",
    "bug_report_endpoint_url": "https://riot.im/bugreports/submit",
    "enableLabs": true,
    "features": {
        "feature_groups": "labs",
        "feature_pinning": "labs"
    },
    "default_federate": {{ riot_default_federate | to_json }},
    "default_theme": "light",
    "roomDirectory": {
        "servers": [
            "{{ matrix_server_fqn_matrix }}"
        ]
    },
    {% if piwik_enabled %}
    "piwik": {
        "url": "{{ piwik_url }}",
        "whitelistedHSUrls": ["https://{{ matrix_server_fqn_matrix }}"],
        "whitelistedISUrls": [""{{ 'https://' + matrix_identity_servers[0] if matrix_identity_servers|length > 0 else None }}""],
        "siteId": 1
    },
    {% endif %}
    "enable_presence_by_hs_url": {
        "https://{{ matrix_server_fqn_matrix }}": false
    },
    "embeddedPages": {
        {% if riot_enable_homeurl %}
        "homeUrl": "home.html",
        {% endif %}
        "welcomeUrl": "welcome.html"
    }
}
